[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "detectRUNS"]
	path = detectRUNS
	url = https://github.com/bioinformatics-ptp/detectruns
	subdir = detectRUNS
